<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPG Eldoria</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1 id="gameTitle">Eldoria</h1>

<div id="intro">
    <p>Eu sou Fabin, o espírito da natureza, por favor herói, me diga seu nome...</p>
    <form id="characterForm">
        <input type="text" id="playerName" name="name" placeholder="Digite seu nome" required>
        <select id="race" name="race_id" required>
            <option value="1">Humano</option>
            <option value="2">Elfo</option>
            <option value="3">Anão</option>
        </select>
        <select id="vocation" name="vocation_id" required>
            <option value="1">Paladino</option>
            <option value="2">Arqueiro</option>
            <option value="3">Guerreiro</option>
        </select>
        <button type="submit">Confirmar</button>
    </form>
</div>

<script src="script.js"></script>
</body>
</html>